.basket-item {
  padding: 1rem;
  font-size:16px;
}

.basket-item .name {
  text-transform: uppercase;
}

.basket-item .bought {
  display:flex;
  flex-direction: row;
}

.basket-item .bought .counter {
  text-align: center;
  /*border-radius: 0;*/
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
